<h1>Bienvenue sur Snowtricks !</h1>

<p>
    Merci de confirmer votre email en suivant ce lien : <br><br>
    <a href="{{ signedUrl|raw }}"><strong>Confirmer mon compte</strong></a>.
    <br/><i>(ce lien expirera dans 1 heure)</i>.
</p>

<p>
    Merci et à bientôt sur le site,<br/>
    L'équipe de Snowtricks.
</p>
