{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_widget(resetForm.plainPassword) }}
        <button class="btn btn-primary">Modifier</button>
    {{ form_end(resetForm) }}

{% endblock %}
