{% extends'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-main background1">
        <div class="container center-vertically-holder">
            <div class="center-vertically">
                <div class="col-xs-12 section-title text-center">
                    <h1 class="heading-1">404 - Page non trouvée</h1>
                    <h4 class="mt20 heading-3"><a href="/">Retourner à la page d'accueil</a></h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}