{% extends 'base.html.twig' %}

{% block title %}Changer son avatar{% endblock %}

{% block body %}
    <!-- Begin Form  -->
    <section id="add" class="background1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title text-center">
                    <h2>Modifier son avatar</h2>
                    <span class="section-divider"></span>
                </div><!-- /.column -->
            </div><!-- /.row -->
            <div class="row">

                </div><!-- column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Form -->
{% endblock %}
